.card-body
{
    background-color: rgb(20,162,138);
}
.card
{
    border: 70px;
    border-style: solid;
   padding-right: 2px;
}
.icon
{
    font-size: 25px;
    margin-right: 20px;
}
.col-sm-6
{
    padding: 2px;
}
